---
layout: default
format: post
---
<head>
  <style>
    .title-top {padding-left: 0px;
               padding-top: 100px;
               padding-bottom: 50px;}
    img {float: left;
         padding-right: 50px;}
    .entry-content {padding-top: 200px;}

  </style>
</head>
<div class="row t30">
	<div class="medium-8 columns{% if page.sidebar == NULL %} medium-offset-2 end{% endif %}{% if page.sidebar == "left" %} medium-push-4{% endif %}">
		<article itemscope itemtype="http://schema.org/Article">
			<header>
				{% if page.image.title %}
				<figure>
					<img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}" itemprop="image">

					{% if page.image.caption_url and page.image.caption %}
					<figcaption class="text-right">
						<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
					</figcaption>
					{% elsif page.image.caption %}
					<figcaption class="text-right">
						{{ page.image.caption }}
					</figcaption>
					{% endif %}
				</figure>
				{% endif %}

				<div itemprop="name">
					{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
					<h1 class=title-top>{{ page.title }}</h1>
				</div>
			</header>


			{% if page.teaser %}
			<p class="teaser" itemprop="description">
				{{ page.teaser }}
			</p>
			{% endif %}

			<div itemprop="articleSection">
			{{ content }}
			</div>

			{% if page.show_meta == true %}
			{% include _meta_information.html %}
			{% endif %}

			{% if page.comments == true %}
			{% include _comments.html %}
			{% endif %}
		</article>
	</div><!-- /.medium-8.columns -->

<!-- project entry -->

<article id="post-2372" class="row post-2372 post type-post status-publish format-standard has-post-thumbnail hentry category-open-government tag-data-portal tag-lmgtdfy tag-open-data">

		<div class="featured-thumb">
      <img width="200" height="80" src="/images/proj-01-mariusz-pierog-532904-unsplash.jpg" class="attachment-post-thumbnail"/>

		<div class="entry-text">

			<header class="entry-content">
        <h3 class="entry-title"><a href="https://mishaberrien.com/chicago-bikeshare-analysis/" rel="bookmark">Divvy Bike Usage in Chicago’s Transit Deserts</a></h3>
			</header><!-- .entry-header -->

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div><!--.entry-text-->
	</div><!--.after-thumb-->
</article><!-- #post-## -->

<!-- end project entry -->

	{% if page.sidebar == "left" %}
	<div class="medium-4 columns medium-pull-8">
		{% include _sidebar.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}


	{% if page.sidebar == "right" %}
	<div class="medium-4 columns">
		{% include _sidebar.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}
</div><!-- /.row -->
